.theme_default-dark {
  /*----------  font  ----------*/

  /*----------  menu  ----------*/

  --menu_background: #202020;
  --menuItem_foreground: #cccccc;
  --menuItem_hoverBackground: #454545;
  --menuItem_activeBackground: #454545;
  --menuGroup_foreground: #cccccc;
  --subMenu_foreground: #cccccc;

  /*----------  tabs  ----------*/

  --tabs_foreground: #cccccc;
  --tabs_hoverForeground: #e0e0e0;
  --tabs_activeForeground: #fefefe;
}
