$ns: 'fd';
/*----------  Generate component classname  ----------*/

@mixin comp($component) {
  $componentName: '#{$ns}-#{$component}' !global;

  .#{$componentName} {
    @content;
  }
}

/*----------  Generate element classname  ----------*/

@mixin elem($name) {
  $elementName: '#{$componentName}_#{$name}';

  @at-root .#{$elementName} {
    @content;
  }
}
