:root {
  /*----------  reveal highlight  ----------*/

  --light-size: 180px 180px;
  --light-position: -200px -200px;
  --light-hue: 200;
  --light-saturation: 80%;
  --light-lightness: 50%;
  --light-alpha: 0.5;
}
